<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cloud Drive</title>
</head>

<body>
<!-- Loader -->
<div class="loader-wrapper">
    <div class="loader"></div>
</div>
<!-- End Loader -->

<!-- Main Banner -->
<section class="main-banner" id="home">
    <div class="container">
        <div class="login-content">

            <h1 class="cloud-drive">Cloud Drive</h1>
            <hr>
            <h2 class="login-text">Login</h2>

            <div th:if="${error != null}" class="alert alert-danger">
                <span th:text="'Error: ' + ${error}"></span>
            </div>

            <form th:action="@{/sign-in}" th:object="${authDTO}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{username}" placeholder="Username"
                           class="form-control mb-4 col-4" id="username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" placeholder="Password"
                           class="form-control mb-4 col-4" id="password">
                </div>

                <button type="submit" class="btn btn-info col-2">Sign In</button>
            </form>

            <hr>
            <a th:href="@{/sign-up}" class="sign-up-link">Don't have an account yet? Sign Up.</a>

        </div>
    </div>
</section>
<!-- End Main Banner -->

<!-- Script for hiding the loader -->
<script>
    window.addEventListener("load", function () {
        const loaderWrapper = document.querySelector(".loader-wrapper");
        loaderWrapper.style.display = "none";
    }, true);
</script>
</body>

</html>
