<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css"/>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div th:if="${error != null}" class="alert alert-danger">
        <span th:text="'Error: ' + ${error}"></span>
    </div>

    <h1 class="index">Register</h1>
    <form id="registerForm" th:action="@{/sign-up}" th:object="${authDTO}" method="POST">
        <input type="text" th:field="*{username}" placeholder="Username (min 3 & max 20)"
               class="form-control mb-4 col-4" id="username">

        <input type="password" th:field="*{password}" placeholder="Password"
               class="form-control mb-4 col-4" id="password">
        <button type="submit" class="command">Sign up</button>
    </form>
    <hr>

    <a th:href="@{/sign-in}" class="sign-up-link">Already have an account? Sign In.</a>
    <hr>
    <div id="message" class="message"></div>
</div>

</body>
</html>
