<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <style>
        .search-bar-container {
            flex: 1;
            max-width: 600px;
            margin: 0 auto;
        }
        .search-bar {
            width: 300%;
        }
    </style>
</head>
<body>

<!-- Profile and Search Bar -->
<div class="container mt-4 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <!-- Profile Section -->
        <div class="me-4">
            <span class="badge bg-primary">Nickname: <span th:text="${profileNickname}">Guest</span></span>
        </div>
        <!-- Search Bar -->
        <div class="search-bar-container">
            <form class="d-flex search-bar" role="search" th:action="@{/search}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<!-- Alerts -->
<div class="row">
    <div th:if="${successAlert}" class="container col-auto alert alert-dismissible alert-success fade show">
        <span th:text="${successAlert}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <div th:if="${failureAlert}" class="container col-auto alert alert-dismissible alert-danger fade show">
        <span th:text="${failureAlert}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>

<!-- Upload file modal -->
<div class="modal fade" id="uploadFileModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Upload file</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/file/upload(path=${param.path})}" method="POST" id="fileUploadForm" th:object="${filesUploadDto}" enctype="multipart/form-data">
                    <input type="hidden" name="parentFolderPath" th:value="${param.path}">
                    <input type="file" th:field="*{files}" class="form-control" required multiple>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" form="fileUploadForm">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Upload folder modal -->
<div class="modal fade" id="uploadFolderModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Upload folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/upload(path=${param.path})}" method="POST" id="folderUploadForm" th:object="${folderUploadDto}" enctype="multipart/form-data">
                    <input type="hidden" name="parentFolderPath" th:value="${param.path}">
                    <input type="file" th:field="*{files}" required webkitdirectory class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" form="folderUploadForm">Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- Create folder modal -->
<div class="modal fade" id="createFolderModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Create new folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form method="POST" th:action="@{/(path=${param.path})}" th:object="${folderCreationDto}" class="form-floating" id="folderCreationForm">
                        <input type="hidden" name="parentFolderPath" th:value="${param.path}">
                        <div class="form-floating">
                            <input type="text" id="floatingName" placeholder="Folder name" required th:field="*{newFolderName}" class="form-control">
                            <label for="floatingName">Folder name</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary" form="folderCreationForm">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Object list -->
<div class="container">
    <h2 th:if="${objects.isEmpty()}" class="text-center mt-4">This folder is empty</h2>

    <!-- Table header -->
    <div th:unless="${objects.isEmpty()}" class="row">
        <!-- Name -->
        <strong class="col-6 ps-5 text-secondary">Name</strong>
        <!-- Size -->
        <strong class="col-1 text-secondary">Size</strong>
        <!-- Last modified -->
        <strong class="col-2 text-secondary">Last modified</strong>

        <hr class="mt-2 mb-2">
    </div>

    <div th:each="obj : ${objects}" th:with="baseUrl=${obj.folder} ? '' : '/file'" class="row pt-1 pb-1">
        <div class="col-6 d-inline-flex">
            <!-- Object icon -->
            <div>
                <svg th:if="${obj.folder}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                    <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.814H9.828a1 1 0 0 1-.707-.293L7.293 1.707A1 1 0 0 0 6.586 1H2.19z"/>
                </svg>
                <svg th:unless="${obj.folder}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                    <path d="M6 2a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2z"/>
                </svg>
            </div>
            <!-- Object name -->
            <a th:href="@{${baseUrl}/${obj.name}}" th:text="${obj.name}" class="text-decoration-none" th:if="${obj.folder}">Folder name</a>
            <a th:href="@{${baseUrl}/${obj.name}}" th:text="${obj.name}" class="text-decoration-none" th:unless="${obj.folder}">File name</a>
        </div>
        <!-- Size -->
        <div class="col-1 text-center text-muted" th:text="${obj.size}">N/A</div>
        <!-- Last modified -->
        <div class="col-2 text-center text-muted" th:text="${obj.lastModified}">N/A</div>
    </div>
</div>

</body>
</html>
